/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20-Feb-2022, 10:49:43 AM
    Author     : Devon, Phillip
*/

#html, body {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

#navbar {
    list-style-type: none;
    text-align: right;
    border-top: solid goldenrod 2px;
    border-bottom: solid goldenrod 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 95%;
}

#navbarItem {
    display: inline;
    padding-left: 10px;
    border-left: solid black 2px;
    color: blue;
    padding-left: 15px;
    padding-right: 15px;
}

#navbarItem > a {
    color: darkgreen;
}

#title{
    color: goldenrod;
}

img {
    position: absolute;
    width: 100px;
    height: 100px;
}

#header {
    position: relative;
    left: 150px;
    padding-bottom: 5px;
}

footer {
    border-top: solid goldenrod 2px;
    text-align: right;
    padding-top: 10px;
}

section {
    padding-left: 10px;
    padding-bottom: 20px;
}

#registerSection label {
    text-align: left;
    display: inline-block;
    width: 100px;
}

#diplayMemberSection label {
    text-align: left;
    display: inline-block;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#formButtons {
    padding-left: 105px;
}

#btnReturn>a {
    text-decoration: none;
    color: black;
}